* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: auto;
    height: auto;
}
.navhead {
    width: 95%;
    height: 100px;
    background-color: green;
    margin-left: 30px;
    padding-top: 30px;
  
}
.pertama {
    display: flex;
    width:auto;
    height:auto;
}
.aside1{
    width: 20%;
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;

}

.article {
    width: 72%;
    height: 200px;
    background-color: red;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
}

.kedua {
    display: flex;
    width: auto;
    height: auto;
}

.aside2 {
    width: 20%;
    height: 200px;
    background-color: yellow;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;

}

.article2 {
    background-color: red;
    width: 72%;
    height: 200px;
    background-color: red;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 30px;
    
   
}