body {
    width: auto;
    height: auto;
}

.bagan-pertama {
    width:auto;
    height: 100px;
    display: flex;
}

.box1 {
    width: 200px;
    height: 100px;
    background-color: yellow;
}
.box2 {
    width: 80%;
    height: 100px;
    background-color: tomato;
    margin-left: 20px;
}
.bagan-kedua {
    width:auto;
    height:auto;
    display: flex;
    
}
.box-1,.box-2 , .box-3{
    margin-top: 15px;
}

.box-1 {
    width: 33%;
    height:500px ;
    background-color: greenyellow;
}
.box-2{
    width: 33%;
    height: 500px;
    background-color: grey;
    margin-left: 20px;
}

.box-3 {
    width:33% ;
    height:500px ;
    background-color: cornflowerblue;
    margin-left: 20px;
}

.footer {
    width: auto;
    height: 50px;
    background-color: cyan;
    margin-top: 30px;
}